.panels-wrapper {
  padding: @panel-wrap-padding;
  .ldds-panel {
    position: relative;
    opacity: 1;
    padding: 0 15px 15px 15px;
    @media @min960 {
      padding: 0;
    }
    .panel-title {
      position: absolute;
      top:24%;
      right:0;
      left: 0;
      text-align: center;
      a {
        .btn_centre_out();
        background-color: transparent;
      }
    }
    &:hover {
      a {
        background-size: 100% 100%;
        color: #FFF;
        text-decoration: none;
        cursor: pointer;
      }
      img {
        //transition: opacity 1s;
        //-webkit-transition: all .25s ease;
        //-moz-transition: all .25s ease;
        //-ms-transition: all .25s ease;
        //-o-transition: all .25s ease;
        //transition: all .25s ease;
        opacity: 1;
      }
    }

    img {
      opacity: 0.7;
      //transition: opacity 1s;
    }
  }

  .show-panel {
    transition: 1s;
    opacity: 1 !important;
  }

  .show-panel-text {
    opacity: 0.5;
  }
}