.art-container {
  padding-top: 25px;
  .art-piece {
    width: 100%;
    float: left;
    display: inline-block;
    padding: 15px;
    @media @min600 {
      width: 50%;
    }
    @media @min992 {
      width: 33.33%;
    }
    img {

    }
  }
  // IMPORT ART MODAL
  @import "art-modal";

}