.product-panels-wrapper{
  .cf();
  padding-top: 30px;
  margin-left: -10px;
  margin-right: -10px;

}

.product-panels {
  width: 50%;
  float: left;
  display: inline-block;
  padding: 0 10px 10px 10px;
  @media @min700 {
    width: 33.33%;
  }
  @media @min960 {
    width: 25%;
  }
}

.img-wrapper {
  display: inline-block;
  overflow: hidden;
}

.img-wrapper img {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  vertical-align: middle;
}

.img-wrapper img:hover {
  transform:scale(1.5);
  -ms-transform:scale(1.5); /* IE 9 */
  -moz-transform:scale(1.5); /* Firefox */
  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -o-transform:scale(1.5); /* Opera */
}