.designer-modal {


  .modal-dialog {
    width: auto;
  @media @min960 {
    width: 996px;
  }

  }

  .ldds-modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999;
      .close-modal {
        font-size: 22px;
        color: @ldds-black !important;
        &:hover {
          color: @ldds-black !important;
          cursor: pointer;
        }
      }
  }

  .modal-content {
    border: 2px solid #FFF;
    border-radius: 0;
  }

  .modal-header {

  }

  .modal-body {
    //border-top: 2px solid @c_ldds_black_lite;

    padding: 0;
    img {
      width: 100%;
    }
  }

  .modal-footer {
    border-top: 2px solid @c_ldds_black_lite;
    text-align: center;
    .add-product {
      color: @c_ldds_black_lite;
    }
  }

}